<!doctype html>
<html>

<%- include('header') %>
	<script type="text/javascript">
		var $$ = function(oid){ var res = document.querySelectorAll(oid); return res.length==1?res[0]:res; }
		var getJson = function(url, cb){
			var req = new XMLHttpRequest();
			req.open('GET', url, true);
			req.onreadystatechange = function(aEvt){
				if( req.readyState == 4 && req.status == 200 ){
					var t = req.responseText;
					if(cb) cb(JSON.parse(t));
				}
			}
			req.send(null);
		}
	</script>
	<body style="background-color:#f6bf2c;" >
		<div id="progressCont">
			<div id="progressBar"></div>
		</div>
		<div id="wrapper">

			<div id="guestWrapper">
				<div class="accountInfo">

					<div class="titleBar">
						<p class="info"><strong>축하인사</strong> 남기기</p>
						<p>축하 인사를 남겨 주세요!</p>
					</div>

				</div>

				<form action="/guest" method="post">
				<div class="writeForm">
					<input type="text" id="in_name" name="name" placeholder="이름"></input>
					<input type="text" id="in_password" name="password" placeholder="비밀번호"></text>
					<textarea id="in_content" name="content" placeholder="축하 인사를 남기실 수 있어요!"></textarea>
					<button class="btn" type="submit">남기기</button>
				</div>
				</form>
				<div id="postList">
					
				</div>


				<div class="post" style="text-align:center;" id="moreCont">
					<button type="button" id="btnMore">더 보기</button>
				</div>


			</div>
<script type="test/postTemplate" id="postTemplate">
	<div class="post">	
		<div class="author"><span class="authorName">{{name}}</span><br /><span class="date">{{created_at}}</span></div>
		<p class="postContent">{{content}}</p>
	</div>
</script>
<script>
	var cnt = 0;
	var hasMore = true;
	var template = $$("#postTemplate").innerHTML;
	var listCont = $$("#postList");
	var dateFormatter = function(d){
		return d.getFullYear() + "." + ("00" + (d.getMonth()+1)).substr(-2) + "." + ("00" + d.getDate()).substr(-2) + " " + ("00" + d.getHours()).substr(-2) + ":" + ("00" + d.getMinutes()).substr(-2);
	}
	function getMore(){
		$$("#btnMore").disabled = 'disabled';
		getJson('/guest/' + cnt, function(dat){
			cnt += dat.list.length;
			if( !dat.more ){
				$$("#moreCont").style.display = 'none';
			}else{
				$$("#btnMore").removeAttribute('disabled');
			}
			var html = [];
			for(var i=0;i<dat.list.length;i++){
				var row = dat.list[i];
				var str = template
							.replace('{{name}}', row.name.replace(/</g, '&lt;') )							
							.replace('{{created_at}}', dateFormatter( new Date(row.created_at) ) )
							.replace('{{content}}', row.content.replace(/</g, '&lt;').replace(/\n/g, '<br />') );
				html.push(
							str
						);
			}
			
			listCont.innerHTML += html.join('\n');
		});
	}
	$$("#btnMore").addEventListener('click', getMore);
	window.onload = getMore;
</script>
		</div>
		<%- include('footer') %>
	</body>

</html>