<!doctype html>
<html>
<%- include('header') %>

	<body style="background-color:white;">
		<div id="progressCont">
			<div id="progressBar"></div>
		</div>
		<div id="wrapper">
			<style>
				#photos>img {
					display: block;
					margin-bottom: 40px;
				}
			</style>
			<div id="galleryWrapper">
				<div class="titleBar">
					<p class="info"><strong>사진첩</strong></p>
				</div>
				<div id="photos">
					<img src="/images/photos/01.JPG" />
					<img src="/images/photos/02.JPG" />
					<img src="/images/photos/03.JPG" />
					<img src="/images/photos/04.JPG" />
					<img src="/images/photos/05.JPG" />
					<img src="/images/photos/06.JPG" />

					<img src="/images/photos/19.jpg" alt="">
					<img src="/images/photos/20.jpg" alt="">
					<img src="/images/photos/21.jpg" alt="">
					<img src="/images/photos/22.jpg" alt="">
					<img src="/images/photos/23.jpg" alt="">
					<img src="/images/photos/24.jpg" alt="">


					<img src="/images/photos/07.JPG" />
					<img src="/images/photos/08.JPG" />
					<img src="/images/photos/09.JPG" />
					<img src="/images/photos/10.JPG" />
					<img src="/images/photos/11.JPG" />
					<img src="/images/photos/12.JPG" />
					<img src="/images/photos/13.JPG" />
					<img src="/images/photos/14.JPG" />
					<img src="/images/photos/15.JPG" />
					<img src="/images/photos/16.JPG" />
					<img src="/images/photos/17.JPG" />
				</div>
			</div>
		</div>
		<%- include('footer') %>
	</body>

</html>