<!doctype html>
<html>
<%- include('header') %>
<body style="background-color:#369;">
	<div id="progressCont">
		<div id="progressBar"></div>
	</div>
	<div id="wrapper">
		<div style="width:100%; height:0px;">&nbsp;</div>
		<script src="/javascripts/d3.min.js"></script>
		<style>

		</style>
		<div id="profileWrapper">
			<div class="titleBar">
				<p class="info"><span id="littleTitle"></span></p>
			</div>
			<div class="viewPort step0">
				<div class="steps"></div>
				<div id="initial" class="steps">
					<div id="ttotti_intro"><img src="/images/icons/l_ttotti.jpg" /><br />또띠</div>
					<div id="gyu_intro"><img src="/images/icons/l_gyu.jpg" /><br />규</div>
					<div id="ttotti_detail">
						<span>김유진</span>
						<span>1991.08.21</span>
						<span>포워더</span>
					</div>
					<div id="gyu_detail">
						<span>김성우</span>
						<span>1985.12.23</span>
						<span>프로그래머</span>
					</div>
					<img id="heart" src="/images/icons/info.png">
				</div>
				<div id="keywordContainer" class="steps"></div>
				<div id="qna" class="steps" style="overflow:hidden;">
					<div id="qnaContent" style="transition:all .4s ease-out;">
						<p class="ask question active">어떻게 만나게 되셨나요?</p>
						<div class="ask gyu">
							<p>제가 다니는 회사에 또띠가 어느날 나타났어요!</p>
						</div>
						<div class="ask ttotti">
							<p>어쩌다가 블로그 댓글로 연락이 시작되어서<br />제가 먼저 아이스티를 먹자 했어요.</p>
						</div>
						<div class="ask gyu">
							<p>네 그래서 얻어 먹었어요.</p>
						</div>

						<p class="ask question">상대의 어디가 가장 매력적인가요?</p>
						<div class="ask ttotti">
							<p>태규에게 누누히 말하지만 머리 끝부터<br />발 끝까지 다 내 스타일이야!</p>
						</div>
						<div class="ask gyu">
							<p>아이스티 마시면서 처음으로<br />웃는 모습을 봤는데 너무 예뻤어요!</p>
						</div>
						<div class="ask ttotti">
							<p>뭐든 뚝딱 만들어내는 잉여력이 너무 좋아요!</p>
						</div>
						<div class="ask gyu">
							<p>센스있고 의외로 재밌는 면도 좋구요!</p>
						</div>

						<p class="ask question">서로 결혼을 결심하게 된 계기는 무엇인가요?</p>
						<div class="ask gyu">
							<p>서로 사고방식이 비슷하다 보니<br />의견 충돌이 적어서 좋았어요.</p>
						</div>
						<div class="ask gyu">
							<p>자기가 싫고 못하는 걸 상대에게<br />요구하지 않는 이해심이 특히 좋아요.</p>
						</div>
						<div class="ask ttotti">
							<p>태규가 너무 좋다->매일 헤어지고 싶지 않다->같이 살고 싶다->같이 살까?->결혼하자!</p>
						</div>
						<div class="ask gyu">
							<p>취향도 신기할정도로 비슷하구요.<br />윗도리 바지에 넣는 거 빼고.</p>
						</div>
						<div class="ask ttotti">
							<p>앞으로 싸울 일이 있다면 언제나 내 잘못일거란 생각이 들 정도로 태규 성격이 좋아요!</p>
						</div>
						<div class="ask ttotti">
							<p>말보단 행동이라 항상 신뢰할 수 있었고, 쭉 함께있으면 배울 수 있는 게 많을거라 느꼈어요!</p>
						</div>


						<p class="ask question">프로포즈는 누가 어떻게?</p>
						<div class="ask gyu">
							<p>자연스럽게 당연히 어느 순간부터 결혼하기로 결정한 것 같아요. 특별히 기억나는 건 없는데..</p>
						</div>
						<div class="ask ttotti">
							<p>잘 모르겠어요!! 그냥 결혼하기로 했어용</p>
						</div>

						<p class="ask question">신혼여행은 어디로 가나요?</p>
						<div class="ask gyu">
							<p>괌 괌.</p>
						</div>
						<div class="ask ttotti">
							<p>괌 괌.</p>
						</div>

						<p class="ask question">결혼식에 왜 초대를 안하시나요?</p>
						<div class="ask gyu">
							<p>개인적으로 남의 결혼식 가는 게 그렇게 즐거운 경험이 아니더라구요.</p>
						</div>
						<div class="ask gyu">
							<p>제가 싫은 건 남도 싫을 것 같아요.</p>
						</div>
						<div class="ask ttotti">
							<p>사람 많은 것도 어려운데, 그 중심에 제가 선다는 게 생각만으로도 너무 어렵고 괴로울 것 같ㅇ..</p>
						</div>
						<div class="ask gyu">
							<p>그래서 소박하게 가족끼리 하려고 해요.</p>
						</div>

						<p class="ask question">그럼 축의금도 안 받으시겠네요?</p>
						<div class="ask ttotti">
							<p>마음만으로도 감사하져<br />축하 인사 써주세염!!</p>
						</div>
						<div class="ask gyu">
							<p>우리은행 1002-541-122..</p>
						</div>
						<div class="ask ttotti">
							<p>...905.</p>
						</div>
						<div class="ask gyu">
							<p><span style='font-family:arial; margin:0;'>( ͡° ͜ʖ ͡°)</span> 넝담~ㅎ</p>
						</div>

						<p class="ask question">자녀 계획은? 혹시 속도위반?!</p>
						<div class="ask ttotti">
							<p>속도위반은 아니고요. 아직은 계획이 없어요.<br />몇 년 더 생각해보려고 해요.</p>
						</div>
						<div class="ask gyu">
							<p>딸! 딸 낳을거에요! 이름도 지어놨음!</p>
						</div>
						<div class="ask ttotti">
							<p>딸이 최고에요!</p>
						</div>

						<p class="ask question">마지막으로 여러분들께 한마디!</p>
						<div class="ask gyu">
							<p>초대 못 드린 점 죄송하구요. 행복하게 잘 사는 모습으로 보답하겠습니다.</p>
						</div>
						<div class="ask gyu">
							<p>여러분들도 사는 날 까지 행복하게 사세요.</p>
						</div>
						<div class="ask ttotti">
							<p>나름 열심히 준비했는데 재밌게 보셨으면 좋겠네요.</p>
						</div>
						<div class="ask ttotti">
							<p>안 궁금해하셔도 행복하고 즐겁게 지내는 모습 보여드리도록 할게요!</p>
						</div>

					</div>
					<!--div id="indicator" style="width:100%; height:1px; border:none; border-top:solid 1px red; position:absolute; top:0;"></div-->
				</div>
				<div id="outro" class="steps">
					<div id="bye"></div>
					<div id="outro_text">감사합니다!</div>
				</div>
			</div>
			<button id="btnNext">다음</button>
			<button id="btnAsk">다음</button>
		</div>
		<script>
	window.addEventListener('load', function(){
		var stepTitles = [
			'<span><strong>우리</strong>는</span>',
			'<strong>서로</strong>가 보는 <strong>서로</strong><br /><p class="legend"><i class="gyu_legend"></i>규가 본 또띠 <i class="ttotti_legend"></i>또띠가 본 규</p>',
			'<strong>자주</strong> 들을 <strong>질문</strong>',
			''
		];
	
		var words = [
			{owner:'ttotti', word:'규♡', weight:10},
			{owner:'ttotti', word:'또스매틱',weight:9},
			{owner:'ttotti', word:'맥또날드',weight:8},
			{owner:'ttotti', word:'아이스크림',weight:4},
			{owner:'ttotti', word:'군것질',weight:7},
			{owner:'ttotti', word:'잠',weight:2},
			{owner:'ttotti', word:'엄마', weight:4},
			{owner:'ttotti', word:'마사지', weight:8},
			{owner:'ttotti', word:'게임', weight:3},
			{owner:'ttotti', word:'잠꼬대', weight:2},
			{owner:'ttotti', word:'인터넷쇼핑', weight:2},
			{owner:'ttotti', word:'질투', weight:4},
			
			{owner:'gyu', word:'또띠♥', weight:10},
			{owner:'gyu', word:'믹스커피왕!엄맥심', weight:7},
			{owner:'gyu', word:'잠탱이', weight:3},
			{owner:'gyu', word:'스노클링', weight:1},
			{owner:'gyu', word:'그림쟁이', weight:5},
			{owner:'gyu', word:'개발자', weight:5},
			{owner:'gyu', word:'호두', weight:6},
			{owner:'gyu', word:'일회용품 사랑',weight:5},
			{owner:'gyu', word:'엄도도', weight:3},
			{owner:'gyu', word:'힐링포비아',weight:1},
			{owner:'gyu', word:'숨겨진요리왕',weight:3},
			{owner:'gyu', word:'야행성',weight:2}

		];
		words.sort(function(a,b){ return b.weight-a.weight; });
		var rScale = d3.scale.sqrt().domain(d3.extent(words, function(d){ return d.weight; })).range([30, 90]);
		words.forEach(function(d){ d.r = rScale(d.weight); });


		var force = d3.layout.force()
			.nodes(words)
			.links([])
			.charge(function(d){ return -0.15*d.r*d.r; })
			.size([750, 750]);
		
		function fadeOut(el){
			el.style.transition = "opacity .5s linear";
			el.style.opacity = 0;
			var ended = function(){ el.style.display = "none"; el.removeEventListener('transitionend', ended); };
			el.addEventListener('transitionend', ended);
		}


		var cont = d3.select("#keywordContainer")
						.style('position', 'relative');
		var bubbleDivs = cont.selectAll('div.bubble')
		.data(words)
		.enter()
		.append('div')
		.attr('class', 'bubble')
		.html(function(d){ return "<div class='middle'>" + d.word + "</div>"; })
		.style('position', 'absolute')
		.style('border-radius', function(d){ return d.r + 'px'; })
		.style('width', function(d){ return (d.r*2) + 'px'; })
		.style('height', function(d){ return (d.r*2) + 'px'; })
		.style('font-size', function(d){ return (d.r*0.45)+'px';})
		.style('text-align', 'center')
		.style('background-color', function(d){ return d.owner=='ttotti'?'#fbe432':'#ffffff'; });
		force.on('tick', function(){
					bubbleDivs
						.style('transform', function(d){ return 'translate(' +  (d.y-d.r) + 'px,' + (d.x-d.r) + 'px)'; })
						.style('-webkit-transform', function(d){ return 'translate(' +  (d.y-d.r) + 'px,' + (d.x-d.r) + 'px)'; });
				});
		var ask_no = 0;
		var asks = $("#qna .ask");
		var ask_height = 40 + (asks[0].offsetHeight|0);
		var askContainer = $("#qnaContent")[0];
		$("#btnAsk")[0].addEventListener("click", function(e){
			ask_no++;
			if( ask_no >= asks.length-1 ){
				$("#btnNext")[0].style.display = "block";
				$("#btnAsk")[0].style.display = "none";
			}
			asks[ask_no].classList.add('active');
			var h = asks[ask_no].offsetHeight|0;
			ask_height += h;
		    ask_height += 10;
			if( ask_height > 750 ){
				askContainer.style.transform = "translateY(-" + (ask_height-750) + "px)";
				askContainer.style['-webkit-transform'] = "translateY(-" + (ask_height-750) + "px)";
			}
			e.preventDefault();
			return false;
		}, false);
				
		var stepFuncs = {
			1:{back:'rgb(244,139,14)', after:function(){
				$("div.steps")[1].classList.add("start");
			}},
			2:{back:'#8f51e6', before:function (){
				force.start();
			}},
			3:{back:'#369', before:function(){
				force.stop();
				$("div.steps")[3].classList.add("start");
				$("#btnNext")[0].style.display = "none";
				$("#btnAsk")[0].style.display = "block";
			}},
			4:{back:'#52c8dc'}
		};

		
		
		var wrap = $("div.viewPort")[0];
		var title = $("#littleTitle")[0];
		var curStep = 0;
		var transitionend = function(e){
			$("div.steps")[curStep].classList.add('shown');  
			if( stepFuncs[curStep] && stepFuncs[curStep].after ) stepFuncs[curStep].after();
			wrap.removeEventListener('transitionend', transitionend);
		}
		
		var turnNext = function(){
			wrap.classList.remove("step" + curStep);
			$("div.steps")[curStep].classList.remove('shown');
			curStep += 1;
			if( stepFuncs[curStep].back ) document.body.style.backgroundColor = stepFuncs[curStep].back;
			title.innerHTML = stepTitles[curStep-1];
			wrap.classList.add("step" + curStep);
			wrap.addEventListener('transitionend', transitionend, false);
			if( stepFuncs[curStep] && stepFuncs[curStep].before ) stepFuncs[curStep].before();
			if( curStep >= 4 ) $("#btnNext")[0].style.display = "none";
		};
		
		$("#btnNext")[0].addEventListener("click", function(){
			turnNext();
		});
		
		turnNext();
	});
</script>
	</div>
	<%- include('footer') %>
</body>

</html>